* { 
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    .root {
        display: flex;
        flex-direction: column;
    }
}

header {
    background-color: #343764;
    padding: 1rem;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    .logo {
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    nav {
        ul {
            list-style: none;
            text-decoration: none;
            li {
                padding: 0 1.5rem;
                display: inline-block;
                font-size: 1.5rem;

                list-style: none;
                text-decoration: none;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie {
    margin: 1rem;
    width: 300px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    img {
        max-width: 100%;
    }
    .movie-info {
        display: flex;
        background-color: #343764;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        height: 4rem;
        max-height: 100%;
        h3 {
            margin: 0;
        }
    }
}

.movie-over {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: all .5s;
    overflow-y: scroll;
    max-height: 100%;
    .movie-over::-webkit-scrollbar {
        width: 10px;
    }
    .movie-over::-webkit-scrollbar-track {
        background: #585d9e;
    }
    .movie-over::-webkit-scrollbar-thumb {
        background: #22254B;
    }
}
.movie:hover .movie-over {
    transform: translateY(0%);
}

.main-section {
    .main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        flex-wrap: wrap;
        .flex-text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 50%;
            padding: 3rem 5rem;
            h4 {
                font-size: 2rem;
                padding: 0;
                margin: 0;
            }
            h1 {
                padding: 0;
            }
            span {
                color: #585d9e;
            }
            p {
                max-width: 30rem;
            }
            button {
                margin-top: 2rem;
                width: 10rem;
                height: 3rem;
                background-color: #da3e3e;
                border-radius: 1rem;
            }
            button:hover {
                background-color: #ec5252;
                cursor: pointer;
            }
        }
        .flex-image-container {
            padding: 3rem 5rem;
        }
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 0 0;
        .social-links {
            padding: 0 10rem;
            a {
                text-decoration: none;
                color: #fff;
                padding: 20px;
                font-size: 30px;
                width: 50px;
            }
        }

        .contact-info {
            padding: 0 10rem;
            p {
                margin: 0;
                padding: .3rem 0;
                font-weight: bold;
                font-size: 1.1rem;
                color: #f5f5f5;
            }
        }
    }
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7rem 30rem;
    h1 {
        text-transform: uppercase;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            font-weight: bold;
        }
        input {
            border: 2px solid #585d9e;
            border-radius: 5px;
            padding: 0.3rem 0.3rem;
            margin: 1rem 0 3rem 0;
            outline: none;
            resize: none
        }
        textarea {
            margin-top: 1rem;
            background-color: transparent;
            border-radius: 10px;
            outline: none;
            font-size: 1.3rem;
        }
        textarea:focus{
            background-color: #585d9e;
        }
    }
    button {
        margin-top: 2rem;
        width: 10rem;
        height: 2.7rem;
        background-color: #da3e3e;
        border-radius: 1rem;
        text-transform: uppercase;
    }
    button:hover {
        background-color: #ec5252;
        cursor: pointer;
    }
}
